<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Define the JSON file appender -->
    <appender name="JSON_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/baseline-api-logs.json</file> <!-- Path to the log file -->
        <append>true</append> <!-- Append to the existing file -->
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <loggerName />
                <threadName />
                <level />
                <message />
                <arguments />
                <stackTrace />
                <MDC />
            </providers>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>